appName = "gin-api-starter"
appPath = "/workspace/gin-api-starter"
addr="0.0.0.0:8008"
mode="debug"

[mysql.default]
host = "127.0.0.1"
port = 3306
user = "root"
pass = "123456"
database = "api"
charset = "utf8mb4"
collation = "utf8mb4_general_ci"
maxidleconns = 20
maxopenconns = 100
connmaxlifetime = 60

[redis.default]
host = "127.0.0.1"
port = 6379
pass = ""
db = 0

[log.default]
level = "debug"
path = "storage/logs"
file = "default.log"
maxSize = 50
maxAge = 30
maxBackup = 5
localTime = true
compress = true

